<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    <h1>$title$</h1>

    $body$

  </body>
</html>
